<div ng-hide="!controls">
  <button ng-class="{'is-active': showAddContact}" translate ng-click="addContact()"
    class="btn icon-add-circle-outline icon-absolute small-btn btn-action-right btn-collapse">Add contact</button>
  <!-- <button ng-click="dialogs.createForm()" -->
  <!--         class="btn icon-add-circle-outline icon-absolute small-btn btn-action-right" translate>Create new form</button> -->
</div>

<h2 class="icon-create" ng-hide="!header" onaftersave="updateClist()" editable-text="clist.name">{{ clist.name }}</h2>
<p translate ng-hide="contactList">No contact</p>

<cm-clist-add-contact class="clist-form-add-contact box"
  ng-show="showAddContact"
  on-success="onAddContact(result)"
  on-cancel="addContact()"
  clist="clist"></cm-clist-add-contact>

<p>
    <button translate
            class="btn x-small-btn classic-btn"
            cm-confirm="Are you sure you want to delete the selected contacts?"
            ng-show="selection.selected.length"
            ng-click="deleteSelectedContacts()">Delete selection</button>
</p>
<div ng-show="contactList">
  <table>
    <thead>
      <tr>
      <th>
          <input class="clist-checkbox-thead"
                 id="select-all"
                 type="checkbox"
                 ng-change="toggleSelection()"
                 ng-model="selection.selectall">
          <label for="select-all"></label>
      </th>
        <th translate>Mail</th>
        <th translate>Actions</th>
      </tr>
    </thead>
    <tr ng-repeat="item in contactList">
    <td class="width-td-small tac">
        <input id="select-list-{{$index}}"
               checklist-model="selection.selected"
               checklist-value="item"
               type="checkbox">
        <label for="select-list-{{$index}}"></label>
    </td>
      <td>
        <span ng-hide="showEditContact[item.url]">{{item.address}}</span>
        <cm-clist-add-contact
          ng-if="showEditContact[item.url]"
          on-success="onUpdateContact(result)"
          on-cancel="showEditContact[item.url] = false"
          contact="item"
          clist="clist"></cm-clist-add-contact>
      </td>
      <td class="width-td">
        <!-- TODO: icon -->
        <cm-drop-down>
          <button translate ng-click="editContact(item)" class="btn-dropDown">Edit</button>
          <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
          <ul class="ul-reset">
            <li>
              <div translate class="menuAction" ng-click="copyContact(item)">Copy</div>
            </li>
            <li>
              <div translate
                   class="menuAction danger"
                   ng-click="deleteContact(item)"
                   cm-confirm="Are you sure you want to delete this contact">Delete</div>
            </li>
          </ul>
          </cm-drop-down>
      </td>
    </tr>
  </table>
  <div infinite-scroll="loadNext()" infinite-scroll-distance="3"></div>
</div>
