<form ng-submit="addContact(clist, form)">
    <div class="col3 col colMarge">

        <div class="form-group">
            <label translate for="contactEmail">Email</label>
            <input ng-model="form.address" required="required" id="contactEmail" type="email">
            <p class="error" ng-show="errors.address">{{ errors.address[0] }}</p>
        </div>
        <div class="form-group form-contact-list" ng-repeat="field in clist.contact_fields">
            <!-- TODO: move logic to custom directive -->
            <div ng-switch on="field.type">

                <label ng-if="field.type !== 'Boolean'"
                for="field-{{ field.name }}">{{ field.name }}</label>

                <!-- TODO: function apiTypeToInputType(v) -->
                <input ng-switch-when="Char"
                ng-model="form.properties[field.name]"
                id="field-{{ field.name }}"
                type="text"
                ng-required="field.required">

                <input ng-switch-when="Integer"
                ng-model="form.properties[field.name]"
                id="field-{{ field.name }}"
                type="number"
                ng-required="field.required">

                <input ng-switch-when="Float"
                ng-model="form.properties[field.name]"
                id="field-{{ field.name }}"
                type="number"
                step="0.00000001"
                ng-required="field.required">

                <div ng-switch-when="Date">
                    <adm-dtp ng-model="form.properties[field.name]"
                    id="field-{{ field.name }}"
                    options='{ "format": "YYYY-MM-DD", "dtpType": "date", "autoClose": true }'
                    ng-required="field.required"></adm-dtp>
                </div>

                <div ng-switch-when="DateTime">
                    <adm-dtp ng-model="form.properties[field.name]"
                    id="field-{{ field.name }}"
                    options='{ "format": "YYYY-MM-DD hh:mm", "dtpType": "date&time" }'
                    ng-required="field.required"></adm-dtp>
                </div>

                <input class="boolean_field" ng-switch-when="Boolean"
                ng-model="form.properties[field.name]"
                id="field-{{ field.name }}"
                type="checkbox" value="1">

                <label class="boolean_field" ng-if="field.type === 'Boolean'"
                for="field-{{ field.name }}">{{ field.name }}</label>

                <p class="error" ng-show="errors.properties[field.name]">{{ errors.properties[field.name][0] }}</p>

            </div>
        </div>
    </div>
    <p class="error" ng-show="errors.non_field_errors">{{ errors.non_field_errors[0] }}</p>
    <button translate class="btn x-small-btn" type="reset" ng-click="onCancel()">Cancel</button>
    <button translate class="btn x-small-btn validate-btn" type="submit">Save</button>
</form>
