<form ng-submit="copyContact(form, contact)">
    <div class="form-group form-clist">
      <label translate id="clist-dest">Destination list</label>
        <select ng-model="form.clist"
                ng-change="errors = {}"
                for="clist-dest"
                required="required">
          <option translate value="" selected="selected">Select a contact list</option>
            <option ng-repeat="l in clistList" value="{{ l.url }}">{{ l.name }}</option>
        </select>

        <div ng-if="errors.properties">
          <p translate class="error">Unable to copy the contact in the requested list:</p>
          <div ng-repeat="(label, error) in errors.properties">
            <p class="error" ng-if="error[0]">{{ label }} {{ error[0] }}</p>
          </div>
        </div>
    </div>
    <p class="error" ng-if="errors.non_field_errors">{{ errors.non_field_errors[0] }}</p>
    <button translate class="btn small-btn btn-action-right" ng-click="onCancel()" type="reset">Cancel</button>
    <button translate class="btn small-btn btn-action-right">Copy contact</button>
</form>
