<a href="#/viewlist/edit"
translate
class="btn icon-add-circle-outline icon-absolute x-small-btn btn-action-right btn-create">Create a new contact list</a>

<p>
    <button class="btn x-small-btn classic-btn"
    translate
    ng-click="mergeSelectedClist(selection.selected)"
    ng-show="selection.selected.length > 1">Merge selection</button>
    <button class="btn x-small-btn classic-btn"
    translate
    cm-confirm="Are you sure you want to delete all the selected contact lists?"
    ng-show="selection.selected.length"
    ng-click="deleteSelectedClist()">Delete selection</button>
</p>

<table ng-show="clistList.length > 0">
    <thead>
        <tr>
            <th>
                <input class="clist-checkbox-thead"
                id="select-all"
                type="checkbox"
                ng-change="toggleSelection()"
                ng-model="selection.selectall">
                <label for="select-all"></label>
            </th>
            <th translate>Name</th>
            <th translate>Total</th>
            <th translate>Actions</th>
        </tr>
    </thead>
    <tr ng-repeat-start="item in clistList">
        <td class="width-td-small tac">
            <input id="select-list-{{$index}}"
            checklist-model="selection.selected"
            checklist-value="item"
            type="checkbox">
            <label for="select-list-{{$index}}"></label>
        </td>
        <td>
            <a href="#/viewlist/contacts/{{ item.url | encodeUrl }}">{{item.name}}</a>
        </td>
        <td>{{item.contacts_count}}</td>
        <td class="width-td-large">
            <cm-drop-down>
                <button translate ng-click="addContact(item)" class="btn-dropDown">Add contact</button>
                <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
                <ul class="ul-reset">
                    <li>
                        <a translate
                        href="#/viewlist/contacts/{{ item.url | encodeUrl }}">Edit contacts list</a>
                    </li>
                    <li>
                        <a translate
                        href="#/viewlist/edit/{{ item.url | encodeUrl }}">Edit properties</a>
                    </li>
                    <li>
                        <a translate
                        href="#/viewlist/{{ item.url | encodeUrl }}/importcontact">Import contacts</a>
                    </li>
                    <li>
                        <div translate
                        class="menuAction"
                        ng-click="exportClist(item)">Export contacts</div>
                    </li>
                    <li>
                        <div translate
                        class="menuAction"
                        ng-click="cloneClist(item)">Clone list</div>
                    </li>
                    <li>
                        <div translate
                        class="menuAction"
                        ng-click="deleteClist(item)"
                        cm-confirm="Are you sure you want to delete this list?">Delete list</div>
                    </li>
                </ul>
            </cm-drop-down>
        </td>
    </tr>
    <tr ng-repeat-end ng-show="showAddContact[item.url]">
        <td colspan="4">
            <cm-clist-add-contact
            on-success="onAddContact(result)"
            on-cancel="showAddContact[item.url] = false"
            clist="item"></cm-clist-add-contact>
        </td>
        <tr>
        </table>
        <div infinite-scroll="loadNext()" infinite-scroll-distance="3"></div>
