<form ng-submit="cloneClist(clist, form)">
    <div class="form-group form-clist">
      <label translate id="clistName">Name of the copy</label>
        <input ng-model="form.name" for="clistName" type="text" required="required">
        <p class="error" ng-if="errors.name">{{ errors.name[0] }}</p>
    </div>
    <p class="error" ng-if="errors.non_field_errors">{{ errors.non_field_errors[0] }}</p>
    <button translate class="btn small-btn btn-action-right" ng-click="onCancel()" type="reset">Cancel</button>
    <button translate class="btn small-btn btn-action-right" type="submit">Clone list</button>
</form>
