<h2 translate>Applications</h2>

<div class="btn-action-right">
    <button class="btn x-small-btn" ng-click="showDialogApi()">Create a api application</button>
    <button class="btn x-small-btn" ng-click="showDialogSmtp()">Create a smtp application</button>
</div>


<h3 translate>Api applications</h3>
<div class="msg-no-element" ng-hide="getApiApp.length > 0">No api applications</div>
<table ng-show="getApiApp.length > 0">
    <thead>
        <tr>
            <th translate>Identifier</th>
            <th translate>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="item in getApiApp">
            <td>{{item.identifier}}</td>
            <td class="width-td">
                <cm-drop-down>
                    <button translate ng-click="showInfo[item.url] = !showInfo[item.url]" class="btn-dropDown">Edit</button>
                    <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
                    <ul class="ul-reset">
                        <li>
                            <div translate
                            class="menuAction danger"
                            ng-click="delete(item.url, getApiApp, $index)"
                            cm-confirm="Are you sure you want to delete this application?">Delete</div>
                        </li>
                    </ul>
                </cm-drop-down>
            </td>
        </tr>
        <tr ng-repeat-end>
            <td colspan="2" ng-show="showInfo[item.url]">
                <cm-form-regen app="item" regen-url="item._links.regen_secret.href" on-cancel="showInfo[item.url] = false"></cm-regen-form>
            </td>
        </tr>
    </tbody>
</table>

<h3 translate>Smtp applications</h3>
<div class="msg-no-element" ng-hide="getSmtpApp.length > 0">No smtp applications</div>
<table ng-show="getSmtpApp.length > 0">
    <thead>
        <tr>
            <th translate>Identifier</th>
            <th translate>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="item in getSmtpApp">
            <td>{{item.identifier}}</td>
            <td class="width-td">
                <cm-drop-down>
                    <button translate ng-click="showInfo[item.url] = !showInfo[item.url]" class="btn-dropDown">Edit</button>
                    <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
                    <ul class="ul-reset">
                        <li>
                            <div translate
                            class="menuAction danger"
                            ng-click="delete(item.url, getSmtpApp, $index)"
                            cm-confirm="Are you sure you want to delete this application?">Delete</div>
                        </li>
                    </ul>
                </cm-drop-down>
            </td>
        </tr>
        <tr ng-repeat-end>
            <td colspan="2" ng-show="showInfo[item.url]">
                <cm-form-regen app="item" regen-url="item._links.regen_credentials.href" on-cancel="showInfo[item.url] = false"></cm-regen-form>
            </td>
        </tr>
    </tbody>
</table>
