<form class="form_app" ng-submit="udpateApp()" name="appForm" novalidate>
    <div class="form-group">
        <label translate for="">Identifier:</label>
        <input type="text" required ng-model="cloneApp.identifier" ng-focus="messageError = ''"/>
        <p class="form-error">{{messageError}}</p>
    </div>
    <div class="form-group">
        <label translate for="">Secret:</label>
        <span class="secret">{{app.secret}}</span> <button class="x-small-btn classic-btn btn regen-btn" ng-click="regenSecret()">Regenerate</button>
    </div>

    <button translate class="btn x-small-btn" ng-click="close($event)">Cancel</button>
    <button translate class="btn x-small-btn validate-btn" type="submit">Update</button>
    <button translate class="btn x-small-btn warning-btn" ng-click="delete()" cm-confirm="Are you sure you want to delete this application?">Delete</button>
</form>
