<div class="connexion-form">
  <img class="logo-login" src="css/img/logo-crunchmail.svg" alt="CrunchMail">
  <form class="login" name="loginForm">
    <div class="form-group">
      <input placeholder="Email Address" required type="text" ng-model="user.identifier" id="username">
      <div translate ng-show="loginForm.identifier.$dirty && loginForm.identifier.$invalid" class="error">Your email address</div>
    </div>
    <div class="form-group">
      <input placeholder="Password" required type="password" ng-model="user.password" id="password">
      <div translate ng-show="loginForm.password.$dirty && loginForm.password.$invalid" class="error">Your password</div>
    </div>
    <button translate ng-disabled="loginForm.$invalid" class="btn" ng-click="connect()">Log In</button>
    <a translate class="forgotPasswordLink" href="#/password-reset">Forgot password?</a>
  </form>
  <p class="error" ng-if="errors.non_field_errors">{{ errors.non_field_errors[0] }}</p>
</div>
