<div class="container_with_filters">
    <h1 class="title-with-bg" translate>Your messages</h1>
    <a translate href="#/create-message" class="small-btn btn icon-add-circle-outline icon-absolute btn-action-right">Create a message</a>
    <cm-status-legend filters-data="messageFilter" filter-fct="filterFct(filterArray)" init="init" activate-disabled="false"></cm-status-legend>
    <div class="form-group">
        <input ng-model="search.name" type="text" placeholder="Search messages..." ng-focus="infinite.isBusy = true" ng-blur="infinite.isBusy = false" />
    </div>
    <table class="table-status" ng-show="getMessages.length > 0">
        <thead>
            <tr>
                <th translate>Status</th>
                <th translate class="tal">Informations</th>
                <th translate>Category</th>
                <th translate>Creation date</th>
                <th translate>Sending date</th>
                <th translate>Actions</th>
            </tr>
        </thead>

        <tr ng-repeat="item in getMessages | filter:search">
            <td title="{{item.status}}" class="status-{{item.status}}"><div></div></td>
            <td class="content-{{item.status}}">
                {{item.subject}}
                <br/>
                <a href="#/detailmessage/{{ item.url | encodeUrl }}" class="btn-dropDown">{{item.name}}</a>
                <div ng-show="item.status === 'message_issues'"><strong translate>Error:</strong> {{item.msg_issue}}</div>
            </td>
            <td class="tac"><span ng-if="item.categoryName !== null">{{item.categoryName}}</span></td>
            <td class="tac">
                <div ng-show="item.status === 'message_ok' || item.status === 'sent' || item.status === 'sending'">
                    <cm-dir-date-js date='item.creation_date'></cm-dir-date-js></div>
            </td>
            <td class="tac">
                <div ng-show="item.status === 'sending' || item.status === 'sent'">
                    <cm-dir-date-js date='item.send_date'></cm-dir-date-js>
                </div>
            </td>
            <td class="width-td">
                <cm-drop-down>
                    <a ng-if="item.status === 'sent' || item.status === 'sending'" translate href="#/statsmessage/{{ item.url | encodeUrl }}" class="btn-dropDown">Report</a>
                    <a ng-if="item.status !== 'sent' && item.status !== 'sending'" translate href="#/detailmessage/{{ item.url | encodeUrl }}" class="btn-dropDown">Edit</a>
                    <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
                    <ul class="ul-reset">
                        <li ng-if="item.status === 'sent' || item.status === 'sending'">
                            <a translate href="#/detailmessage/{{ item.url | encodeUrl }}">Details</a>
                        </li>
                        <li>
                            <div translate
                            class="menuAction"
                            ng-click="duplicateMessage(item.url, $index)">Duplicate</div>
                        </li>
                        <li ng-if="item.status !== 'sent' && item.status !== 'sending'">
                            <div
                            class="menuAction danger"
                            ng-click="deleteMessage(item.url, $index)"
                            cm-confirm="Are your sure you want to delete this message?"><span translate>Delete</span></div>
                        </li>
                    </ul>
                </cm-drop-down>
            </td>
        </tr>
    </table>
    <div ng-if="totalMessage > 25" infinite-scroll-distance="0" infinite-scroll="getMoreMessages()" infinite-scroll-disabled="infinite.isBusy"></div>
</div>
