<form ng-submit="sendTest()" name="testForm" novalidate>
    <!-- <label translate for="">Create your category test</label>
    <input required ng-model="category.name" type="text"/> -->
    <label translate for="">Enter the test message recipients:</label>
    <textarea ng-model="sendTestForm.emails" name="" id="" cols="30" rows="10" placeholder="One address per line"></textarea>

    <button ng-disabled="testForm.$invalid" translate class="btn x-small-btn" type="submit">Send test message</button>
</form>
