<form class="form_domain" ng-submit="createDomain()" name="domainForm" novalidate>
    <div class="form-group">
        <label translate for="">Domain name:</label>
        <input type="text" required ng-model="domain.name" placeholder="Eg: company.com" ng-focus="messageError = ''"/>
        <p class="form-error">{{messageError}}</p>
    </div>
    <h3 class="titleAdvancedOptions" ng-click="showOptions = !showOptions">Options</h3>
    <div ng-show="showOptions">
        <div class="form-group">
            <label translate for="">Custom application domain:</label>
            <input type="text" ng-model="domain.app_domain" placeholder="Eg: email.company.com"/>
        </div>
    </div>

    <button ng-disabled="checkUrl()" translate class="btn x-small-btn validate-btn" type="submit">OK</button>
</form>
