<div class="list-domains-container" ng-class="{'have_domains' : getDomains.length > 0}">
    <h2 translate>Your domains</h2>
    <cm-status-legend ng-show="getDomains.length > 0" filters-data="statusLegend"></cm-status-legend>
    <button translate ng-click="showDomainDialog()" class="small-btn btn icon-add-circle-outline icon-absolute btn-action-right">Create a sending domains</button>
    <table class="table-status" ng-if="getDomains.length > 0">
        <thead>
            <tr>
                <th>Status</th>
                <th></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr ng-repeat-start="item in getDomains">
            <td class="domain-status" ng-class="item.dkim_status"></td>
            <td>{{item.name}}</td>
            <td class="width-td">
                <cm-drop-down>
                    <button ng-click="showFormDomain[item.url] = !showFormDomain[item.url]" translate class="btn-dropDown">Edit</button>
                    <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
                    <ul class="ul-reset">
                        <li>
                            <div translate
                            class="menuAction" ng-click="revalidateDomain(item)">Revalidate</div>
                        </li>
                        <li>
                            <div translate
                            class="menuAction danger"
                            cm-confirm="Are your sure to delete this domain?"
                            ng-click="deleteDomain(item.url, $index)">Delete</div>
                        </li>
                    </ul>
                </cm-drop-down>
            </td>
        </tr>
        <tr ng-repeat-end ng-show="showFormDomain[item.url]">
            <td colspan="3">
                <cm-edit-domain domain="item" on-cancel="showFormDomain[item.url] = false"></cm-edit-domain>
            </td>
        </tr>
    </table>
    <!-- <div ng-if="getMessages.length > 0" infinite-scroll-distance="0" infinite-scroll="getMoreMessages()" infinite-scroll-disabled="infinite.isBusy"></div> -->
</div>
