<div ng-show="$root.recipientSpinner" class="recipient-spinner">
    <div class="recipient-spinner-content">
        <h3>{{$root.recipientFeedbackWording}} <span translate>recipients</span></h3>
        <progress max="100" value="{{$root.recipientsPercent}}"></progress>
        {{$root.recipientFeedbackAdded}}/{{$root.recipientFeedbackTotal}} <span translate>recipients</span>
    </div>
</div>
<div class="contactContainer">
    <!-- <button translate class="btn x-small-btn validate-btn" ng-click="validContacts()">Save recipients</button> -->
    <div>
        <v-tabs class="recipients-tab" horizontal active="recipientsTab.active">
            <v-tab ng-show="showZimbraContacts" translate>Zimbra contacts</v-tab>
            <v-tab ng-show="showJawContacts" translate>Contact lists</v-tab>
            <v-tab translate>Import CSV file</v-tab>
            <v-tab translate>Add manually</v-tab>
        </v-tabs>
        <v-pages class="recipients-tab-container" active="recipientsTab.active">
            <v-page ng-show="showZimbraContacts">
                <div class="contactSpinner" ng-show="$root.contactSpinner">
                    <double-bounce-spinner></double-bounce-spinner>
                    <div class="infoCollectContact" translate>Contacts collection in progress...</div>
                </div>
                <div class="container-switch-recipients">
                    <div translate>Grouped</div>
                    <div class="switch switch-recipients">
                        <input ng-change="switchContact()" id="switchModeViewRecipients" type="checkbox" ng-model="viewMode"><label for="switchModeViewRecipients"></label>
                    </div>
                    <div translate>Tree</div>
                </div>

                <cm-recipients-tree ng-show="viewMode" tree-contact="contactsTree" lists="dls"></cm-recipients-tree>
                <cm-recipients-zimlet ng-show="!viewMode"></cm-recipients-zimlet>
            </v-page>
            <v-page ng-show="showJawContacts">
                <cm-jaw-clist></cm-jaw-clist>
            </v-page>
            <v-page>
                <div class="recipients-csv-container">
                    <div class="form-group importCsv">
                        <h3 translate>Select a CSV file</h3>
                        <cm-csv-upload csv-result="csvResult" csv-header="headerCsv" csv-name="csvName"></cm-csv-upload>
                    </div>
                </div>
            </v-page>
            <v-page>
                <div>
                    <div class="container-textarea-recipients">
                        <textarea class="textarea-recipients" ng-model="textareaMail" name="" id="mailtextarea" placeholder="One address per line"></textarea>
                        <button ng-disabled="textareaMail === '' || textareaMail === undefined" translate ng-click="addManualRecipient()" class="btn btn-add classic-btn textarea-recipients-btn">Add</button>
                    </div>
                </div>
            </v-page>
        </v-pages>
        <div class="selected-contact" cm-pos-sticky active="recipientsTab.active">
            <div class="all-contacts-added"><span translate>Message recipients:</span> {{allContacts}}</div>
            <div ng-class="{'isActive' : keys(contactsTable).length || keys(groupsTable).length || keys(dlsTable).length || keys(textareaTable).length}">
                <div class="selected-contact-content" ng-show="showZimbraContacts">
                    <h3 class="recipients-title-collapse" ng-class="{'is-active': showContacts, 'is-hidden': recipientsTab.active !== activeValue}" ng-click="(recipientsTab.active !== activeValue) || (showContacts = !showContacts)">
                        <span translate>Contacts</span>
                        <span class="nbre">{{$root.keys(contactsTable).length}}</span>
                        <button ng-disabled="keys(contactsTable).length === 0"
                                class="btn icon-trashcan x-small-btn"
                                ng-click="removeAllContactRecipients(contactsTable)"
                                cm-confirm="Are you sure you want to remove all contacts?"></button>
                    </h3>
                    <div id="contact-content" cm-isolate-scrolling class="recipients-content-collapse" ng-class="{'is-active': showContacts}">
                        <ul ng-show="showContacts" class="ul-reset list-contact-selected">
                            <li ng-repeat="c in contactsTable | limitTo: limitContact">
                                {{::c.to}}
                                <button class="btn icon-remove-circle icon-alone"
                                        ng-click="removeContactRecipient($index, c)"
                                        cm-confirm="Are you sure you want to remove ${recipient}?"
                                        cm-confirm-data='{"recipient":"{{::c.to}}"}'></button>
                            </li>
                        </ul>
                        <div ng-if="contactsTable.length > 0" infinite-scroll-container="'#contact-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextContact()" infinite-scroll-distance="0"></div>
                    </div>
                    <h3 class="recipients-title-collapse" ng-class="{'is-active': showGroups, 'is-hidden': recipientsTab.active !== activeValue}" ng-click="(recipientsTab.active !== activeValue) || (showGroups = !showGroups)">
                        <span translate>Groups</span>
                        <span class="nbre">{{$root.keys(groupsTable).length}}</span>
                        <button ng-disabled="keys(groupsTable).length === 0"
                                class="btn icon-trashcan x-small-btn"
                                ng-click="removeAllGroupRecipients(groupsTable)"
                                cm-confirm="Are you sure you want to remove all groups"></button>
                    </h3>
                    <div id="group-content" cm-isolate-scrolling class="recipients-content-collapse" ng-class="{'is-active': showGroups}">
                        <ul ng-show="showGroups" class="ul-reset list-contact-selected">
                            <li ng-repeat="group in groupsTable | limitTo: limitGroup">
                                {{::group.name}}
                                <span class="nbre">{{::group.members.length}}</span>
                                <button class="btn icon-remove-circle icon-alone"
                                        ng-click="removeGroupRecipient($index, group)"
                                        cm-confirm="Are you sure you want to remove ${recipient}?"
                                        cm-confirm-data='{"recipient":"{{::group.name}}"}'></button>
                            </li>
                        </ul>
                        <div ng-if="groupsTable.length > 0" infinite-scroll-container="'#group-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextGroup()" infinite-scroll-distance="0"></div>
                    </div>
                    <h3 class="recipients-title-collapse" ng-class="{'is-active': showDls, 'is-hidden': recipientsTab.active !== activeValue}" ng-click="(recipientsTab.active !== activeValue) || (showDls = !showDls)">
                        <span translate>Distribution lists</span>
                        <span class="nbre">{{$root.keys(dlsTable).length}}</span>
                        <button ng-disabled="keys(dlsTable).length === 0"
                                class="btn icon-trashcan x-small-btn"
                                ng-click="removeAllDlistRecipients(dlsTable)"
                                cm-confirm="Are you sure you want to remove all distribution lists?"></button>
                    </h3>
                    <div id="dls-content" cm-isolate-scrolling class="recipients-content-collapse" ng-class="{'is-active': showDls}">
                        <ul ng-show="showDls" class="ul-reset list-contact-selected">
                            <li ng-repeat="dl in dlsTable | limitTo: limitDls">
                                <span ng-if="dl.name === '' || dl.name === undefined && dl.email !== ''">{{::dl.email}}</span>
                                <span ng-if="dl.name !== '' && dl.name !== undefined && dl.email !== ''">{{::dl.name}}</span>
                                <span class="nbre">{{::dl.members.length}}</span>
                                <button class="btn icon-remove-circle icon-alone"
                                        ng-click="removeDlistRecipient($index, dl)"
                                        cm-confirm="Are you sure you want to remove ${recipient}?"
                                        cm-confirm-data='{"recipient":"{{::dl.name}}"}'></button>
                            </li>
                        </ul>
                        <div ng-if="dlsTable.length > 0" infinite-scroll-container="'#dls-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextDls()" infinite-scroll-distance="0"></div>
                    </div>
                    <h3 ng-hide="otherTable.length === 0" class="recipients-title-collapse" ng-class="{'is-active': showOther, 'is-hidden': recipientsTab.active !== activeValue}" ng-click="(recipientsTab.active !== activeValue) || (showOther = !showOther)">
                        <span translate>Other contacts</span>
                        <span class="nbre">{{$root.keys(otherTable).length}}</span>
                        <button ng-disabled="keys(otherTable).length === 0"
                                class="btn icon-trashcan x-small-btn"
                                ng-click="removeAll(otherTable, 'dl')"
                                cm-confirm="Are you sure you want to remove all distribution lists recipients?"></button>
                    </h3>
                    <div ng-hide="otherTable.length === 0" id="other-content" cm-isolate-scrolling class="recipients-content-collapse" ng-class="{'is-active': showOther}">
                        <ul ng-show="showOther" class="ul-reset list-contact-selected">
                            <li ng-repeat="other in otherTable | limitTo: limitOther">
                                {{::other.to}}
                                <button class="btn icon-remove-circle icon-alone" ng-click="deleteOther($index, other)"></button>
                            </li>
                        </ul>
                        <div ng-if="otherTable.length > 0" infinite-scroll-container="'#other-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextOther()" infinite-scroll-distance="0"></div>
                    </div>
                </div>
                <!-- <button ng-if="keys(contactsTable).length || keys(groupsTable).length || keys(dlsTable).length || keys(textareaTable).length" translate  class="btn btn-bottom"  ng-click="removeAll(contactsTable, groupsTable, dlsTable, textareaTable)">Delete all</button> -->
            </div>
            <div>
                <h3 ng-show="showJawContacts" class="recipients-title-collapse" ng-class="{'is-active': showClist, 'is-hidden': recipientsTab.active !== activeValue}" ng-click="(recipientsTab.active !== activeValue) || (showClist = !showClist)">
                    <span translate>Contact lists</span>
                    <span class="nbre">{{clistAdded.length}}</span>
                    <button ng-disabled="clistAdded.length === 0"
                            class="btn icon-trashcan x-small-btn"
                            ng-click="removeAllClistRecipients(clistAdded)"
                            cm-confirm="Are you sure you want to remove all contact lists recipients?"></button>
                </h3>
                <div id="clist-content" cm-isolate-scrolling class="recipients-content-collapse" ng-class="{'is-active': showClist}" ng-show="showClist">
                    <ul class="ul-reset list-contact-selected">
                        <li ng-repeat="list in clistAdded | limitTo: limitClist">
                            {{::list.name}}
                            <button class="btn icon-remove-circle icon-alone"
                                    ng-click="removeClistRecipient(list, $index)"
                                    cm-confirm="Are you sure you want to remove ${recipient}?"
                                    cm-confirm-data='{"recipient":"{{::list.name}}"}'></button>
                        </li>
                    </ul>
                    <div ng-if="clistAdded.length > 0" infinite-scroll-container="'#clist-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextClist()" infinite-scroll-distance="0"></div>
                </div>
            </div>
            <div class="container_allcontacts">
                <h3 class="recipients-title-collapse" ng-class="{'is-active': showCsv, 'is-hidden': recipientsTab.active !== 2}" ng-click="(recipientsTab.active !== 2) || (showCsv = !showCsv)">
                    <span translate>CSV</span>
                    <span class="nbre">{{csvAdded.length}}</span>
                    <button ng-disabled="csvAdded.length === 0"
                            class="btn icon-trashcan x-small-btn"
                            ng-click="removeAllCsvRecipients(csvAdded)"
                            cm-confirm="Are you sure you want to remove all CSV recipients?"></button>
                </h3>
                <div id="csv-content" cm-isolate-scrolling class="recipients-content-collapse" ng-class="{'is-active': showCsv}" ng-show="showCsv">
                    <ul class="ul-reset list-contact-selected">
                        <li ng-repeat="row in csvAdded | limitTo: limitCsv">
                            {{::row.to}}
                            <button class="btn icon-remove-circle icon-alone"
                                    ng-click="removeCsvRecipient(row, $index)"
                                    cm-confirm="Are you sure you want to remove ${recipient}?"
                                    cm-confirm-data='{"recipient":"{{::row.to}}"}'></button>
                        </li>
                    </ul>
                    <div ng-if="csvAdded.length > 0" infinite-scroll-container="'#csv-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextCsv()" infinite-scroll-distance="0"></div>
                </div>
            </div>
            <div class="container_manual" ng-class="{'isActive' : keys(textareaTable).length}">
                <h3  class="recipients-title-collapse" ng-class="{'is-active': showManual, 'is-hidden': recipientsTab.active !== 3}" ng-click="(recipientsTab.active !== 3) || (showManual = !showManual)">
                    <span translate>Manual</span>
                    <span class="nbre">{{$root.keys(textareaTable).length}}</span>
                    <button ng-disabled="keys(textareaTable).length === 0"
                            class="btn icon-trashcan x-small-btn" ng-click="removeAllManualRecipients(textareaTable)"
                            cm-confirm="Are you sure you want to remove all manual recipients?"></button>
                </h3>
                <div id="manual-content" cm-isolate-scrolling class="recipients-content-collapse" ng-class="{'is-active': showManual}" ng-show="showManual" class="selected-contact-content">
                    <ul class="ul-reset list-contact-selected">
                        <li ng-repeat="obj in textareaTable | limitTo: limitManual">
                            {{::obj.to}}
                            <button class="btn icon-remove-circle icon-alone"
                                    ng-click="removeManualRecipient(obj, $index)"
                                    cm-confirm="Are you sure you want to remove ${recipient}?"
                                    cm-confirm-data='{"recipient":"{{::obj.to}}"}'></button>
                        </li>
                    </ul>
                    <div ng-if="textareaTable.length > 0" infinite-scroll-container="'#manual-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextManual()" infinite-scroll-distance="0"></div>
                </div>
            </div>
        </div>
        <div class="container-csv" ng-hide="recipientsTab.active !== 2" ng-if="csvResult.length > 0">
            <div class="totalCsv">
                <strong translate>Total :</strong>
                {{csvResult.length}} contacts
            </div>
            <button ng-click="importCsv()" class="btn x-small-btn classic-btn" translate>Import</button>
            <button ng-click="cancelCsvImport()" class="btn x-small-btn" translate>Cancel</button>
            <table class="contactCsvImported tableCSV">
                <thead>
                    <tr>
                        <th ng-if="headerCsv.length > 0" ng-repeat="header in headerCsv">
                            {{::header}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in csvResult | limitTo: showRecipients : beginRecipients">
                        <td ng-repeat="cell in ::row">
                            {{::cell}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="csvResult.length > showRecipients" ng-pager
                current-page="{{currentPageRecipients}}"
                total-pages="{{(csvResult.length / showRecipients) | number:0}}"
                page-changed="paged(pageNum)"
                enable-jump-controls="true">
            </div>
        </div>
</div>
