<h3 class="titleAdvancedOptions" ng-class="{'isOpen' : showFilter}" ng-click="showFilter = !showFilter" translate>Tags</h3>
<ul class="ul-reset tags" ng-show="showFilter">
    <li ng-class="{'tag-selected': tag.selected}" ng-style="tag.selected && {'background': tag.color}" style="color: {{tag.color}};" class="icon-local-offer" ng-repeat="tag in tags">
        <input checklist-change="showTaggedMail(tag)" id="tag-{{tag.name}}" type="checkbox" checklist-model="selected.tags" checklist-value="tag">
        <label for="tag-{{tag.name}}" ng-click="tag.selected = !tag.selected"> {{::tag.name}}</label>
    </li>
</ul>
<div class="search-recipients-container">
    <input translate type="text" ng-model="search" ng-change="checkElement()" placeholder="Search contacts..."/>
</div>
<div class="col">
    <v-tabs class="zimlet-tabs-menu" vertical active="contactTabs.active">
        <v-tab><span translate>Contacts</span><span class="nbre">{{zcontactLength}}</span></v-tab>
        <v-tab><span translate>Groups</span><span class="nbre">{{groupLength}}</span></v-tab>
        <v-tab><span translate>Distribution lists</span><span class="nbre">{{dlLength}}</span></v-tab>
    </v-tabs>
    <v-pages class="zimlet-tabs-content" active="contactTabs.active">
        <v-page>
            <input ng-change="selectAll(zcontacts, allContactSelected)" ng-model="allContactSelected" type="checkbox" id="select-all-contact">
            <label class="select-all" for="select-all-contact" translate>Select all</label>
            <div class="listing-contact contactsList" id="zcontact-content" cm-isolate-scrolling>
                <div ng-hide="zcontact.isHidden || zcontact.isTagged || zcontact === '{}'" ng-class="{'selected-item': zcontact.selected }" data-tag="{{zcontact.tags}}" data-index="{{zcontact.id}}" class="group-contact zcontact icon-person recipients-contact-grouped" ng-repeat="zcontact in zcontacts | filter:search | filter:tagFilter | limitTo: limitContactZimbra" ng-click="itemClicked($index, zcontact, zcontacts)">
                    {{::zcontact.name}} &lt;{{::zcontact.email}}&gt;</span>
                    <button translate ng-click="addContactRecipient(zcontact)" class="btn icon-add-circle-outline icon-alone"></button>
                </div>
                <div ng-if="zcontacts.length > 0" infinite-scroll-container="'#zcontact-content'" infinite-scroll-disabled="infinite.isBusy" infinite-scroll="showNextContactsZimbra()" infinite-scroll-distance="0"></div>
            </div>
            <button ng-disabled="checkSelected(zcontacts)" translate ng-click="addContactRecipientSelected(zcontacts)" class="btn btn-add classic-btn">Add</button>
        </v-page>
        <v-page>
            <input ng-change="selectAll(groups, allGroupSelected)" ng-model="allGroupSelected" type="checkbox" id="select-all-group">
            <label class="select-all" for="select-all-group" translate>Select all</label>
            <div class="listing-contact groupsList">
                <div ng-hide="group.isHidden || group.isTagged || group.name === undefined" ng-class="{'selected-item': group.selected}" data-tag="{{group.tags}}" data-index="{{group.id}}" class="group-contact zcontact icon-group recipients-contact-grouped recipients-contact-group-dl" ng-repeat="group in groups | filter:search | filter:tagFilter" ng-click="itemClicked($index, group, groups)">
                    {{::group.name}}
                    <span class="nbre">{{::group.members.length}}</span>
                    <button translate ng-click="addGroupRecipient(group)" class="btn icon-add-circle-outline icon-alone"></button>
                </div>
            </div>
            <button ng-disabled="checkSelected(groups)" translate ng-click="addGroupRecipientSelected(groups)" class="btn btn-add classic-btn">Add</button>
        </v-page>
        <v-page>
            <input ng-change="selectAll(dls, allDlSelected)" ng-model="allDlSelected" type="checkbox" id="select-all-dl">
            <label class="select-all" for="select-all-dl" translate>Select all</label>
            <div class="listing-contact dlsList">
                <div ng-hide="dl.isHidden || dl === '{}'" ng-class="{'selected-item': dl.selected}" data-index="{{dl.id}}" class="group-contact zcontact icon-assignment recipients-contact-grouped recipients-contact-group-dl" ng-repeat="dl in dls | filter:search" ng-click="itemClicked($index, dl, dls)">
                    <span ng-if="dl.name === '' || dl.name === undefined && dl.email !== ''">{{::dl.email}}</span>
                    <span ng-if="dl.name !== '' && dl.name !== undefined && dl.email !== ''">{{::dl.name}}</span>
                    <span class="nbre">{{::dl.members.length}}</span>
                    <button translate ng-click="addDlistRecipient(dl)" class="btn icon-add-circle-outline icon-alone"></button>
                </div>
            </div>
            <button ng-disabled="checkSelected(dls)" translate ng-click="addDlistRecipientSelected(dls)" class="btn btn-add classic-btn">Add</button>
        </v-page>
    </v-pages>
</div>
