<cm-recipients-node value="treeContact"></cm-recipients-node>
<h3 class="title-recipient-dl-tree" translate>Distribution lists</h3>
<ul class="ul-reset recipients-tree recipient-dl-tree">
    <li ng-repeat="dl in lists">
        <div ng-hide="dl.isHidden" class="key-recipient-tree icon-folder">
            <span ng-if="dl.name === '' || dl.name === undefined && dl.email !== ''">{{::dl.email}}</span>
            <span ng-if="dl.name !== '' && dl.name !== undefined && dl.email !== ''">{{::dl.name}}</span>
            <span class="nbre">{{::dl.members.length}}</span>
            <button translate ng-click="addDl(dl)" class="btn icon-add-circle-outline icon-alone"></button>
        </div>
    </li>
</ul>
