<ul class="ul-reset recipients-tree">
    <li ng-repeat="(sub_key, sub_value) in value">
        <div class="key-recipient-tree" ng-class="{'isActive': isVisible}" ng-click="isVisible = !isVisible"><span ng-class="{'is-shared': sub_value._attrs.isShare}" class="icon-folder" style="color: {{sub_value._attrs.color}}"></span>{{sub_key}}</div>
        <div ng-show="isVisible" class="folder-recipient">
            <ul class="ul-reset">
                <li ng-class="{'is-selected': contact.selected}" ng-hide="contact.isHidden || contact.isTagged" class="icon-person" ng-if="contact.name !== '' && contact.name !== undefined" ng-repeat="contact in sub_value.contacts | filter:search | filter:tagFiltered" ng-click="contact.selected = !contact.selected">
                    {{contact.name}}
                    <button translate ng-click="addContact(contact)" class="btn icon-add-circle-outline icon-alone"></button>
                </li>
            </ul>
            <ul class="ul-reset">
                <li ng-class="{'is-selected': group.selected}" ng-hide="group.isHidden || group.isTagged" class="icon-group" ng-if="group.name !== '' && group.name !== undefined" ng-repeat="group in sub_value.groups | filter:search"  ng-click="group.selected = !group.selected">
                    {{group.name}}
                    <button translate ng-click="addGroup(group)" class="btn icon-add-circle-outline icon-alone"></button>
                </li>
            </ul>
            <cm-recipients-node value="sub_value._subfolders"></cm-recipients-node>
        </div>
    </li>
</ul>
