<form class="form_domain" ng-submit="updateOrganization()" name="organizationForm" novalidate>
    <div class="form-group">
        <label translate for="">Organization name:</label>
        <input type="text" required ng-model="cloneOrganization.name" ng-focus="messageError = ''"/>
        <p class="form-error">{{messageError}}</p>
    </div>
    <div class="form-group">
        <label translate for="">Contact email:</label>
        <input type="text" required ng-model="cloneOrganization.contact_email" />
    </div>

    <h3 translate class="titleAdvancedOptions" ng-click="showOptions = !showOptions">Settings</h3>
    <div ng-show="showOptions">
        <div class="form-group">
            <label translate for="">Organization "slug":</label>
            <input type="text" ng-model="cloneOrganization.settings.nickname"/>
        </div>
        <div class="form-group">
            <input type="checkbox" id="activateNotifications" ng-model="cloneOrganization.settings.notify_message_status"/>
            <label for="activateNotifications" translate>Enable message status notifications</label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="activateOutNotifications" ng-model="cloneOrganization.settings.notify_optouts"/>
            <label for="activateOutNotifications" translate>Enable opt-outs notifications</label>
        </div>
        <div ng-show="organization.can_external_optouts" class="form-group">
            <label translate for="">External Opt-outs message:</label>
            <input type="text" ng-model="organization.settings.external_optout_message"/>
        </div>
    </div>
    <button translate class="btn x-small-btn" ng-click="close($event)">Cancel</button>
    <button translate class="btn x-small-btn validate-btn" type="submit">Update</button>
</form>
