<div class="list-organization-container">
    <h2 translate>Your organizations</h2>
    <button translate ng-click="showOrganizationDialog()" class="small-btn btn icon-add-circle-outline icon-absolute btn-action-right">Create a child organization</button>
    <h3><small translate>Main organization:</small> {{principalOrganization.name}}</h3>
    <button class="btn x-small-btn classic-btn" ng-click="inviteUser(principalOrganization)">Invite user</button>
    <h3 translate>Child organizations:</h3>
    <table class="table-status" ng-if="childOrganization.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr ng-repeat-start="item in childOrganization">
            <td>{{item.name}}</td>
            <td class="width-td">
                <cm-drop-down>
                    <button ng-click="showFormOrganization[item.url] = !showFormOrganization[item.url];" translate class="btn-dropDown">Edit</button>
                    <button class="btn-dropDown" ng-click="showMenuDropDown($event)">▾</button>
                    <ul class="ul-reset">
                        <li ng-if="item.status !== 'sent' && item.status !== 'sending'">
                            <div
                            class="menuAction"
                            ng-click="inviteUser(item)"><span translate>Invite user</span></div>
                        </li>
                    </ul>
                </cm-drop-down>
            </td>
        </tr>
        <tr ng-repeat-end ng-show="showFormOrganization[item.url]">
            <td colspan="3">
                <cm-edit-organization organization="item" on-cancel="showFormOrganization[item.url] = false"></cm-edit-organization>
            </td>
        </tr>
    </table>
</div>
