<ul class="ul-reset menu menu-block">
    <li><a ng-click="refresh($event, '#/create-message')" class="icon-edit" href="#/create-message"><span translate>New<br/> message</span></a></li>
    <li><a ng-click="refresh($event, '#/messages/all')" class="icon-email" href="#/messages/all"><span translate>Messages</span></a>
        <ul class="ul-reset submenu">
            <li><a ng-click="refresh($event, '#/messages/message_ok')" href="#/messages/message_ok"><span translate>Drafts</span></a></li>
            <li><a ng-click="refresh($event, '#/messages/sent')" href="#/messages/sent" translate-comment="To flag that a message has been sent"><span translate>Sent</span></a></li>
            <li><a ng-click="refresh($event, '#/messages/sending')" href="#/messages/sending"><span translate>Sending</span></a></li>
            <li><a ng-click="refresh($event, '#/messages/message_issues')" href="#/messages/message_issues"><span translate>In error</span></a></li>
        </ul>
    </li>
    <li><a ng-click="refresh($event, '#/reports')" class="icon-bar-chart" href="#/reports"><span translate>Reports</span></a></li>
    <li><a ng-click="refresh($event, '#/categories')" class="icon-tag" href="#/categories"><span translate>Categories</span></a></li>
    <li><a ng-click="refresh($event, '#/contactlists')" class="icon-assignment" href="#/contactlists"><span translate>Contacts</span></a></li>
    <li ng-if="$root.isAdmin">
        <div class="icon-settings no-link"><span translate>Settings</span></div>
        <ul class="ul-reset submenu">
            <li><a ng-click="refresh($event, '#/list-domains')" href="#/list-domains"><span translate>Domains</span></a></li>
            <li><a ng-click="refresh($event, '#/list-organizations')" href="#/list-organizations"><span translate>Organizations</span></a></li>
            <li><a ng-click="refresh($event, '#/applications')" href="#/applications"><span translate>Applications</span></a></li>
        </ul>
    </li>
</ul>
